.d-flex {
  display: flex;
  gap: 10px;
}
.column {
  flex-direction: column;
}

#adress {
  flex-basis: 300px;
  flex-wrap: wrap;
}
#header-first-row,
.header-second-row {
  align-items: flex-start;
}
#header-second-row {
  align-items: baseline;
}
p,
h1,
h2 {
  margin: 0;
}
.first-col {
  flex-basis: 145px;
}
.border-bottom-separator {
  border-bottom: 2px solid #dddddd;
  padding-bottom: 20px;
}
